{% load static %}
<div class="footer_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="footer_widget">
                    <div class="footer_logo">
                        <a href="#">
                            <img src="{% static 'img/tg.png' %}" width="120px" alt="">
                        </a>
                    </div>
                    <p>
                        Firmament morning sixth subdue darkness
                        creeping gathered divide.
                    </p>
                    <div class="socail_links">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        Services
                    </h3>
                    <ul>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Consulting</a></li>
                        <li><a href="#">Finance</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-2">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        Useful Links
                    </h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#"> Contact</a></li>
                        <li><a href="#"> Free quote</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        Address
                    </h3>
                    <ul>
                        <li>200, D-block, Green lane USA</li>
                        <li>+10 367 467 8934</li>
                        <li><a href="#"> docmed@contact.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right_text">
    <div class="container">
        <div class="footer_border"></div>
        <div class="row">
            <div class="col-xl-12">
                <p class="copy_right text-center">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by TechGarage
                </p>
            </div>
        </div>
    </div>
</div>