{% load static %}
<div class="header-area">
    <div class="header-top_area d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 ">
                    <div class="social_media_links">
                        <a href="#">
                            <i class="fa fa-facebook"> FB </i>
                        </a> &nbsp;
                        <a href="#">
                            <i class="fa fa-instagram"> IG </i>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="short_contact_list">
                        <ul>
                            <li><a href="#"> <i class="fa fa-phone"></i> 01-45710787</a></li>
                            <li><a href="#"> <i class="fa fa-envelope"></i> info@techgarage.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header-area">
        <div class="container">
            <div class="header_bottom_border">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'img/tg.png' %}" width="200px" alt="">
                                <i><h4 style="color:white"></h4></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="#">home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="">Products</a></li>
                                    <li><a href="#">blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="Appointment">
                            <div class="search_button">
                                <a href="#">
                                    <i class="ti-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>